/* First paragraph */
body {
    font-family: Roboto, sans-serif;
    margin: 0;   
    display: flex;
    flex-direction: column;
}
.firstbody {
    background: #1F2927; 
    color:  white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px 300px 100px 300px;   
}

.firstheader {
    display: flex;
    justify-content: space-between;
}   

.hbody {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.headerleft {
    width: 500px;
}

.signup-button {
    background: rgb(43, 168, 209);
    border-radius: 5px;
    border: rgb(43, 168, 209);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

.img {
    width: 500px;
    height: auto;
}

/* Second Paragraph */

.secondbody {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.secondheader {
    color: black;
    display: flex;
    margin-bottom: 100px;
    gap: 32px;
    
}

.imgtwo {
    width: 300px;
    height: auto;
    border: 4px solid rgb(89, 147, 167);
    border-radius: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: gray;
    width: 300px;
    gap: 10px;
}

/* Third Paragraph */

.quote {
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 100px 300px 100px 300px;
    display: flex;
    flex-direction: column;
}

.author {
    font-weight: bolder;
    color: black;
    font-style: normal;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

/* Fourth Paragraph */

.lastbody {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupmodal {
    background: rgb(69, 165, 255);
    width: 900px;
    height: auto;
    margin: 100px 300px;
    border-radius: 25px;
    padding: 25px 50px;
}
.signupbuttontwo {
    background: rgb(69, 165, 255);
    border-radius: 10px;
    border: 2px line white;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}

.signuptext {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signupmodal h3{
    color: white;
}

/* Footer */

.footer {
    background: #1F2927; 
    display: flex;  
    justify-content: center; 
    padding: 100px 300px;
    font-size: 20px;
}